<nav class="navbar navbar-dark bg-dark te">
  <div class="container" style="width: 80%;">
    <a href="/" class="navbar-brand">Aplicación de turnos</a>
  </div>
</nav>


<!--    
  <% if (typeof login != "undefined") { %> 
    Exitoso
  <% }else{ %>
   Fallido
 <% } %>
        -->

<div class="container mt-4" style="width: 80%; height:80%; ">
  <div class="row align-items-center"">
    <div class="col align-self-center">