<nav class="navbar navbar-dark bg-dark te">
  <div class="container" style="width: 80%;">
    <a href="/" class="navbar-brand">Aplicación de turnos</a>


    <% if (typeof loggedIn != "undefined") { %> 
            
      
    <a href="/logout" class="navbar-brand" data-bs-toggle="modal" data-bs-target="#exitModal">Log Out</a>
    <div class="modal fade" id="exitModal" tabindex="-1" aria-labelledby="exitModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title m-4 text-danger" id="exampleModalLabel"><strong>¿Esta seguro que desea
                salir?</strong></h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <a href="/logout" type="button" class="btn btn-danger">Salir</a>
          </div>
        </div>
      </div>
    </div>
    <% } %>
  </div>
</nav>






<div class="container mt-4" style="width: 80%; height:80%; ">
  <div class="row align-items-center"">
    <div class=" col align-self-center">