<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
        <title>Turno</title>
</head>

<body>

    <%- include('./partials/header'); %>

        <div class="row">

            <%= inning %>

        </div>

        <%- include('./partials/footer'); %>
</body>

</html>