<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head'); %>
    <title>Categorias</title>
</head>

<body>

  <%- include('./partials/header'); %>

    <div class="row">
      <% for(let object of inningsByCategory) { %>
        <%- include('./partials/inningsByCategory', 
        { category: object.category,
          innings: object.innings,
          fkDependency: fkDependency
         }); %>


      <% } %>
    </div>

    <%- include('./partials/footer'); %>
</body>

</html>